
.ValidateCOntainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

/* @media (min-width: 1000px) {
    .ValidateCOntainer {
	    background-size: cover;
        background-image: url('https://i.pinimg.com/originals/de/a5/55/dea5551a58c21c1c87c711f01520daac.jpg');
   }
} */

.Validate{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgba(39,103,187,1);
    margin:1rem;
    width:70%;
    background-color: cadetblue;
    
}
@media only screen and (max-width: 720px) {
     .Validate {
         width: 90%;

     }
     .ValidateTitle{
        display:flex;
        flex-direction: column;
        text-align: center;
     }
   }
.formContainer{
    width: 50%;
}
.registerNforgottenButtons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    
}
.registerNforgottenButtons button{
    margin: 5px 0px 5px 0px;
}

.error{
    color:rgba(248, 28, 28, 0.6)
}